<%= form_with(model: note, class: "contents", data: { turbo_confirm: 'Are you sure?', controller: "autocomplete" }, html: { autocomplete: :off }) do |form| %>
  <% if note.errors.any? %>
    <%= render 'errors', object: note %>
  <% end %>

  <%= form.fields_for :customer do |customer| %>
    <div class="form-control w-full mb-3">
      <%= customer.label :phone_number, class: "label label-text" %>
      <%= customer.telephone_field :phone_number, list: :phone_numbers, class:"input input-sm input-bordered", data: { action: 'input->autocomplete#lookupNumber', autocomplete_target: "phoneNumber" } %>
      <datalist id="phone_numbers">
        <% Customer.pluck(:phone_number, :name).each do |c| %>
          <option value="<%= c[0] %>"><%= c[1] %></option>
        <% end %>
      </datalist>
    </div>
    <div class="form-control w-full mb-3">
      <%= customer.label :name, class: "label label-text" %>
      <%= customer.text_field :name, class:"input input-sm input-bordered", data: { autocomplete_target: "name" } %>
    </div>
  <% end %>

  <div class="form-control w-full mb-3">
    <%= form.label :content, "Notes", class: "label label-text" %>
    <%= form.text_area :content, rows: 6, class: "textarea textarea-sm textarea-bordered" %>
  </div>

  <div class="form-control w-full mb-3">
    <%= form.label :user_id, "Assign to", class: "label label-text" %>
    <%= form.collection_select :user_id, User.order(:first_name).where(assignable: true), :id, :full_name, { include_blank: true }, { class: "select select-bordered" } %>
  </div>

  <div class="form-control mb-3">
    <%= form.label :completed, class: "label cursor-pointer" do %>
      <%= form.check_box :completed, class: "checkbox" %>
      <span class="label-text flex-grow ml-1">Completed</span>
    <% end %>
  </div>

  <div class="flex gap-3">
    <%= form.submit "Save", class: "flex-auto btn btn-primary" %>
  </div>
<% end %>
