<%= form_with(model: note, class: "contents", data: { turbo_confirm: 'Are you sure?', controller: "autocomplete", action: "submit->turbo-modal#hide" }, html: { autocomplete: :off }) do |form| %>
  <% if note.errors.any? %>
    <%= render 'errors', object: note %>
  <% end %>

  <%= form.fields_for :customer do |customer| %>
    <div class="form-control w-full mb-3" data-controller="clipboard">
      <div class="flex">
        <%= customer.label :phone_number, class: "label label-text flex-auto" %>
        <div class="tooltip tooltip-bottom" data-tip="copied!" data-clipboard-target="tooltip">
          <%= button_tag "Copy Number", type: :button, class: "flex-inherit btn btn-secondary btn-sm", data: { action: 'click->clipboard#copy'} if action_name == "edit" %>
        </div>
      </div>
      <%= customer.telephone_field :phone_number, list: :phone_numbers, class:"input input-sm input-bordered", data: { controller: 'mask', action: 'input->autocomplete#lookupNumber', autocomplete_target: "phoneNumber", clipboard_target: "source", mask_target: "phoneNumber" } %>
      <datalist id="phone_numbers">
        <% Customer.pluck(:phone_number, :name).each do |c| %>
          <option value="<%= c[0] %>"><%= c[1] %></option>
        <% end %>
      </datalist>
    </div>
    <div class="form-control w-full mb-3">
      <%= customer.label :name, class: "label label-text" %>
      <%= customer.text_field :name, class:"input input-sm input-bordered", data: { autocomplete_target: "name" } %>
    </div>
  <% end %>

  <div class="form-control w-full mb-3">
    <%= form.label :content, class: "label label-text" do %>
      <span>Notes</span>
      <% if action_name == "edit" %>
        <span class="italic">updated <%= time_ago_in_words(note.updated_at) %> ago</span>
      <% end %>
    <% end %>
    <%= form.text_area :content, rows: 6, class: "textarea textarea-sm textarea-bordered" %>
  </div>

  <div class="form-control w-full mb-3">
    <%= form.label :assigned_to_user_id, "Assign to", class: "label label-text" %>
    <%= form.collection_select :assigned_to_user_id, User.order(:first_name).where(assignable: true), :id, :full_name, { include_blank: "Unassigned" }, { class: "select select-bordered" } %>
  </div>

  <div class="form-control mb-3">
    <%= form.label :completed, class: "label cursor-pointer" do %>
      <%= form.check_box :completed, class: "checkbox" %>
      <span class="label-text flex-grow ml-1">Completed</span>
    <% end %>
  </div>

  <div class="flex gap-3">
    <%= form.submit "Save", class: "flex-auto btn btn-primary" %>
  </div>
<% end %>
