<%= form_with(model: note, class: "contents") do |form| %>
  <% if note.customer.errors.any? %>
    <%= render 'errors', object: note.customer %>
  <% elsif note.errors.any? %>
    <%= render 'errors', object: note %>
  <% end %>

  <div>
    <%= form.label :content %>
    <%= form.text_area :content, rows: 4 %>
  </div>

  <%= form.fields_for :customer do |customer| %>
  <div>
    <%= customer.label :phone_number %>
    <%= customer.telephone_field :phone_number %>
  </div>
  <div>
    <%= customer.label :name %>
    <%= customer.text_field :name %>
  </div>
  <% end %>

  <div>
    <%= form.label :user_id %>
    <%= form.collection_select :user_id, User.order(:name), :id, :name, { include_blank: true } %>
  </div>

  <div>
    <%= form.label :done %>
    <%= form.check_box :done %>
  </div>

  <div class="inline">
    <%= form.submit %>
  </div>
<% end %>
