<%= form_with(model: note, class: "contents", data: { turbo_confirm: 'Are you sure?' }, html: { autocomplete: :off }) do |form| %>
  <% if note.customer.errors.any? %>
    <%= render 'errors', object: note.customer %>
  <% elsif note.errors.any? %>
    <%= render 'errors', object: note %>
  <% end %>


  <%= form.fields_for :customer do |customer| %>
  <div data-controller="note">
    <div class="form-control w-full my-3">
      <%= customer.label :phone_number, "Customer phone", class: "label label-text" %>
      <%= customer.telephone_field :phone_number, list: "customer-phone-number", data: { note_target: "number", action: "change->note#setName click->note#clearFields" }, class: "input input-bordered" %>
      <datalist id="customer-phone-number">
      <% Customer.all.each do |customer| %>
        <option value="<%= customer.phone_number %>"><%= customer.name %></option>
      <% end %>
      </datalist>
    </div>

    <div class="form-control w-full my-3">
      <%= customer.label :name, "Customer name", class: "label label-text" %>
      <%= customer.text_field :name, data: { note_target: "name" }, class: "input input-bordered" %>
    </div>
  </div>
  <% end %>

  <div class="form-control w-full my-3">
    <%= form.label :content, "Call notes", class: "label label-text" %>
    <%= form.text_area :content, rows: 4, class: "textarea textarea-bordered" %>
  </div>

  <div class="form-control w-full my-3">
    <%= form.label :user_id, "Assign to", class: "label label-text" %>
    <%= form.collection_select :user_id, User.order(:first_name), :id, :full_name, { include_blank: true }, { class: "select select-bordered" } %>
  </div>

  <div class="form-control w-32 my-3">
    <%= form.label :done, class: "label cursor-pointer" do %>
      <span class="label-text">Done</span>
      <%= form.check_box :done, class: "checkbox" %>
    <% end %>
  </div>

  <div class="flex gap-3">
    <%= form.submit class: "flex-auto btn btn-primary" %>
    <%= link_to "Cancel", :back, class: "flex-initial btn btn-secondary" %>
  </div>
<% end %>
