<div id="<%= dom_id note %>">
  <%= link_to customer_path(id: note.customer_id), class: "flex justify-between items-center my-3 p-3 bg-base-200 rounded" do %>
    <div class="flex-auto">
      <p class="text-sm"><%= note.created_at.strftime("%m/%d/%y - %l:%M %P") %></p>
      <p><%= note.customer_name %></p>
    </div>
    <div class="flex-initial text-right">
    <% if note.user_id.present? %>
      <p class="btn btn-outline btn-square btn-sm"><%= user_initials(note.user_first_name, note.user_last_name) %></p>
    <% end %>
    </div>
  <% end %>
</div>
