<div id="<%= dom_id phone_call %>" class="flex items-center pb-3 my-3 border-b border-gray-300">
  <div class="flex-auto">
    <p class="text-xl font-bold mb-1">
      <%= phone_call.customer.name %>
    </p>
    <p class="mb-1 text-xs text-gray-700">
      Logged: <%= phone_call.updated_at.strftime('%b %e, %l:%M %p') %>
    </p>
    <p class="mb-1 text-xs text-gray-700">
      Assigned to: <%= phone_call.user.name %>
    </p>
    <p class="mb-1">
      <%= phone_to phone_call.customer.phone_number, class: "underline text-blue-600" %>
    </p>
    <p class="mb-1">
      <%= phone_call.notes %>
    </p>

  </div>
  <% if action_name != "show" %>
  <div class="flex-initial">
    <%= link_to "Update", edit_phone_call_path(phone_call), class: "bg-yellow-200 border border-yellow 300 rounded-lg px-3 py-4" %>
  </div>
  <% end %>
</div>
