<div>
  <%= form_with url: "/search", method: :get, class: "mb-3" do |form| %>
    <%= form.text_field :q, value: params[:q], class: "input input-bordered" %>
    <%= form.submit "Search", class: "btn btn-primary" %>
  <% end %>

  <% if @results %>
    <h2 class="font-bold text-2xl"><%= pluralize(@results.count, "result") %></h2>
    <% @results.each do |result| %>
      <% if result.searchable_type == "Customer" %>
        <%= render partial: "customer", locals: { customer: result } %>
      <% elsif result.searchable_type == "Note" %>
        <%= render partial: "note", locals: { note: result } %>
      <% end %>
    <% end %>
  <% end %>
</div>
