<%= form_with(model: user, class: "contents") do |form| %>
  <%= render 'errors', object: user %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="inline">
    <%= form.submit %>
  </div>
<% end %>
