<%= form_with(model: user, class: "contents") do |form| %>
  <%= render 'errors', object: user %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to "Cancel", :back, class: "btn" %>
  </div>
<% end %>
