<div id="<%= dom_id user %>">
  <p>
    <%= user.name %>
  </p>

  <p>
    <%= user.email %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this user", user %>
    <%= link_to 'Edit this user', edit_user_path(user) %>
    <hr class="mt-6">
  <% end %>
</div>
