<div id="<%= dom_id customer %>">
  <div class="mb-6">
    <p class="font-bold text-2xl"><%= customer.name %></p>
    <p><%= customer.phone_number %></p>
  </div>
  <p class="font-bold text-lg">Latest note:</p>
  <%= render partial: "customers/note", locals: { note: @latest_note } %>
  <% if @all_but_latest_note.any? %>
  <p class="font-bold text-lg">History:</p>
    <div class="divide-y">
    <% @all_but_latest_note.each do |note| %>
      <%= render partial: "customers/note", locals: { note: note } %>
    <% end %>
    </div>
  <% end %>
</div>
