<div id="<%= dom_id customer %>" data-controller="clipboard">
  <div class="mb-6">
    <p class="font-bold text-2xl"><%= customer.name %></p>
    <div class="form-control">
      <div class="input-group">
        <%= text_field_tag :phone_number, customer.phone_number, {  readonly: true, class: "input input-bordered", data: { clipboard_target: :source } } %>
        <%= button_tag "Copy", type: :button, class: "btn btn-secondary", data: { action: "clipboard#copy" } %>
      </div>
    </div>
  </div>
  <% if @incompleted_notes.any? %>
    <h2 class="font-bold text-xl">Incomplete</h2>
    <div class="flex flex-col divide-y">
      <% @incompleted_notes.each do |note| %>
        <%= render partial: "customers/note", locals: { note: note } %>
      <% end %>
    </div>
  <% end %>
  <% if @completed_notes.any? %>
    <h2 class="font-bold text-xl mt-12">Completed</h2>
    <div class="flex flex-col divide-y text-gray-500">
      <% @completed_notes.each do |note| %>
        <%= render partial: "customers/note", locals: { note: note } %>
      <% end %>
    </div>
  <% end %>
</div>
