<div id="<%= dom_id customer %>" data-controller="clipboard">
  <div class="mb-6">
    <p class="font-bold text-2xl"><%= customer.name %></p>
    <div class="form-control">
      <div class="input-group">
        <%= text_field_tag :phone_number, customer.phone_number, {  readonly: true, class: "input input-bordered", data: { clipboard_target: :source } } %>
        <%= button_tag "Copy", type: :button, class: "btn btn-secondary", data: { action: "clipboard#copy" } %>
      </div>
    </div>
  </div>
  <% @notes.each do |note| %>
    <%= render partial: "customers/note", locals: { note: note } %>
  <% end %>
</div>
