<div id="<%= dom_id customer %>">
  <p>
    <%= customer.name %>
  </p>

  <p>
    <%= customer.phone_number %>
  </p>

  <% customer.notes.each do |note| %>
  <p>
    <%= note.created_at %><br>
    <%= note.content %>
  </p>
  <% end %>

  <% if action_name != "show" %>
    <%= link_to "Show this customer", customer %>
    <%= link_to 'Edit this customer', edit_customer_path(customer) %>
  <% end %>
</div>
