<div id="<%= dom_id customer %>" class="">
  <div class="my-3 gap-6">
    <p class="text-xl font-bold">
      <%= customer.name %>
    </p>
    <p class="">
      <%= phone_to customer.phone_number, class: "underline text-blue-600" %>
    </p>
  </div>

  <p class="">
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= customer.notes %>
  </p>

  <div class="my-2">
    <% if action_name != "show" %>
      <%= link_to 'Edit this customer', edit_customer_path(customer), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium hover:bg-gray-300 transition" %>
      <hr class="mt-6">
    <% end %>
  </div>
</div>
