<div id="<%= dom_id customer %>" data-controller="clipboard">
  <div class="mb-6">
    <p class="font-bold text-2xl"><%= customer.name %></p>
    <div class="form-control">
      <div class="input-group">
        <%= text_field_tag :phone_number, customer.phone_number, {  readonly: true, class: "input input-bordered", data: { clipboard_target: :source } } %>
        <%= button_tag "Copy", type: :button, class: "btn btn-secondary", data: { action: "clipboard#copy" } %>
      </div>
    </div>
  </div>
  <p class="font-bold text-lg">Latest note:</p>
  <%= render partial: "customers/note", locals: { note: @latest_note } %>
  <% if @all_but_latest_note.any? %>
  <p class="font-bold text-lg mt-6">History:</p>
    <div class="flex flex-col divide-y">
    <% @all_but_latest_note.each do |note| %>
      <%= render partial: "customers/note", locals: { note: note } %>
    <% end %>
    </div>
  <% end %>
</div>
