<%= form_with(model: customer, class: "contents") do |form| %>
  <%= render 'errors', object: customer %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name, class: "input w-full max-w-xs" %>
  </div>

  <div>
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, class: "input w-full max-w-xs" %>
  </div>

  <div class="inline">
    <%= form.submit %>
  </div>
<% end %>
